doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/jquery-2.1.1.min.js')
    script(src='/javascripts/jquery.history.js')
    script(src='/javascripts/ednt-socket.js')
  body
    block content
